.main {
  width: 100vw;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.item {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 90vw;
}

.title {
  font-family: var(--font-geist-sans);
}
